<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" {{ wp.language_attributes() }}>
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" {{ wp.language_attributes() }}>
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html {{ wp.language_attributes() }}>
<!--<![endif]-->

<head>
    <meta charset="{{ wp.bloginfo('charset') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aviators, http://themes.byaviators.com">

    <link rel="shortcut icon" href="{{ wp.get_template_directory_uri() }}/assets/img/favicon.png" type="image/png">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="{{ wp.bloginfo('pingback_url') }}">

    <!--[if lt IE 9]>
    <script src="{{ wp.get_template_directory_uri() }}/assets/js/html5.js" type="text/javascript"></script>
    <![endif]-->

    {{ wp_head() }}

    <title>{{ wp.wp_title('|', FALSE, 'right')|raw }}</title>
</head>

<body class="{% for class in wp.get_body_class %}{{ class }} {% endfor %}">


<div class="top">
   <div class="container">
       <div class="top-inner inverted">
           <div class="header clearfix">
               {% if wp.function_exists('icl_sitepress_activate') %}
                    <div class="languages">{{ wp.do_action('icl_language_selector') }}</div>
               {% endif %}

               <div class="branding pull-left">
                   {# LOGO #}
                   <div class="logo">
                       <a href="{{ wp.get_bloginfo('wpurl') }}" title="{{ wp.__('Home', 'aviators') }}">
                           {% if wp.get_theme_mod('header_logo') %}
                               <img src="{{ wp.get_theme_mod('header_logo') }}" alt="{{ wp.__('Home', 'aviators') }}">
                           {% else %}
                               <img src="{{ wp.get_template_directory_uri() }}/assets/img/logo.png" alt="{{ wp.__('Home', 'aviators') }}">
                           {% endif %}
                       </a>
                   </div><!-- /.logo -->

                   {# TITLE #}
                   {% if wp.get_theme_mod('header_title_is_hidden') == "" %}
                       {% if wp.get_bloginfo('name') %}
                           <div class="site-name">
                               <a href="{{ wp.get_bloginfo('wpurl') }}" title="{{ wp.__('Home', 'aviators') }}" class="brand">
                                   {{ wp.get_bloginfo('name') }}
                               </a>
                           </div><!-- /.site-name -->
                       {% endif %}
                   {% endif %}
               </div>

               {# CONTACTS TOP #}
               <div class="contact-top">
                <ul class="menu nav">
                  {% if not wp.aviators_settings_get_value('socialize', 'facebook', 'is_hidden') %}
                    <li class="first leaf facebook">
                      <a href="{{  wp.aviators_settings_get_value('socialize', 'facebook', 'link') }}" class="facebook"><i>F</i></a>
                    </li>
                  {% endif %}

                  {% if not wp.aviators_settings_get_value('socialize', 'flickr', 'is_hidden') %}
                    <li class="leaf flickr"><a href="{{  wp.aviators_settings_get_value('socialize', 'flickr', 'link') }}" class="flickr"><i>n</i></a></li>
                  {% endif %}

                  {% if not wp.aviators_settings_get_value('socialize', 'google_plus', 'is_hidden') %}
                    <li class="leaf google-plus"><a href="{{  wp.aviators_settings_get_value('socialize', 'google_plus', 'link') }}" class="google"><i>g</i></a></li>
                  {% endif %}

                  {% if not wp.aviators_settings_get_value('socialize', 'linkedin', 'is_hidden') %}
                    <li class="leaf linkedin"><a href="{{  wp.aviators_settings_get_value('socialize', 'linkedin', 'link') }}" class="linkedin"><i>l</i></a></li>
                  {% endif %}

                  {% if not wp.aviators_settings_get_value('socialize', 'twitter', 'is_hidden') %}
                    <li class="leaf twitter">
					<a href="{{  wp.aviators_settings_get_value('socialize', 'twitter', 'link') }}" class="twitter">
					<img src="{{ wp.get_template_directory_uri() }}/assets/img/icon-twitter.png" alt="Join us on Wechat">
					</a></li>
                  {% endif %}

                  {% if not wp.aviators_settings_get_value('socialize', 'vimeo', 'is_hidden') %}
                    <li class="last leaf vimeo"><a href="{{  wp.aviators_settings_get_value('socialize', 'vimeo', 'link') }}" class="vimeo"><i>v</i></a></li>
                  {% endif %}
                </ul>
               </div>

               {# USER AREA #}
               <div class="user-area pull-right">
                   {% if wp.is_user_logged_in() %}
                       {{ authenticated_menu|raw }}
                   {% else %}
                       {{ anonymous_menu|raw }}
                   {% endif %}
               </div><!-- /.user-area -->
           </div><!-- /.header -->

           {# NAVIGATION #}
            <div class="navigation navbar clearfix">
                <div class="pull-left">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    {{ main_menu|raw }}
                </div>


            </div>
           <div class="breadcrumb pull-left">
               {% if wp.function_exists('bcn_display') %}
                   {{ wp.bcn_display }}
               {% endif %}
           </div><!-- /.breadcrumb -->
       </div>
   </div>
</div>
